
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<title>Harry Reeder - CV</title>

	<style>
		.container {
			padding-top: 10px;
		}

		.avatar {
			padding-right: 20px;
		}

		.subheading {
			opacity: 0.5;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-9">
				<span class="pull-left avatar">
					<img src="http://www.gravatar.com/avatar/882fea3f994a649328155e5ab2316b7f?s=200" alt="" style="border-radius: 20%">
				</span>
				<h1 class="text-primary">
					Harry Reeder<br />
					<small>Software Engineer</small>
				</h1>
				{{ outline }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h3 class="text-info">Employment History</h3>
				{{ employmentHistory }}
			</div>
			<div class="col-xs-12 col-md-4">
				<h3 class="text-info">Skills</h3>
				<div class="skill">
					<strong>Python</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</span>
				</div>
				<div class="skill">
					<strong>Java</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
				<div class="skill">
					<strong>C#</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
				<div class="skill">
					<strong>PHP</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
        <div class="skill">
					<strong>HTML</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
       	<div class="skill">
					<strong>JavaScript</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
				<div class="skill">
					<strong>C++</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
        <div class="skill">
					<strong>F#</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
				<div class="skill">
					<strong>Ruby</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
				<hr>
				<div class="skill">
					<strong>Flask</strong> (Python) <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</span>
				</div>
				<div class="skill">
					<strong>Linked Data</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
				<div class="skill">
					<strong>Linux</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
        <div class="skill">
          <strong>Git</strong> <span class="pull-right">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </div>
        <div class="skill">
          <strong>RDF</strong>
          <span class="pull-right">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </div>
        <div class="skill">
          <strong>SPARQL</strong>
          <span class="pull-right">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </div>
				<div class="skill">
					<strong>Systems Administration</strong> <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
				<div class="skill">
					<strong>Django</strong> (Python) <span class="pull-right">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h3 class="text-info">Education</h3>
				<div class="edu">
					<strong>Software Engineering MEng</strong> <span class="subheading">Edinburgh Napier University</span> <span class="label label-warning pull-right">IN PROGRESS</span>
					<p>Started: September 2012 &dash; Expected Finish: January 2018</p>
					<p>Modules Undertaken</p>
					<ul class="fa-ul">
						<li><i class="fa fa-li fa-book"></i> Year 3: Algorithms &amp; Data Structures<span class="label label-warning pull-right">Mark Pending</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 3: Software Development 3<span class="label label-warning pull-right">Mark Pending</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 3: Software Engineering<span class="label label-warning pull-right">Mark Pending</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 3: Work Based Learning <span class="label label-warning pull-right">Mark Pending</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 2: Software Development 2 <span class="label label-success pull-right ">Merit</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 2: Web Technologies <span class="label label-success pull-right">Merit</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 2: Mobile Applications Development <span class="label label-success pull-right">Merit</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 2: Software Engineering Methods <span class="label label-success pull-right">Pass</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 2: Systems and Services <span class="label label-success pull-right">Pass</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 2: Database Systems <span class="label label-success pull-right">Pass</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 1: Introduction to Human Computer Interaction <span class="label label-success pull-right">Merit</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 1: Information Systems in Organisations <span class="label label-success pull-right">Merit</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 1: Software Development 1 <span class="label label-success pull-right">Merit</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 1: Mathematics for Software Engineering <span class="label label-success pull-right">Merit</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 1: Computer Systems 1 <span class="label label-success pull-right">Pass</span></li>
						<li><i class="fa fa-li fa-book"></i> Year 1: Introduction to programming in C++ <span class="label label-success pull-right">Pass</span></li>
					</ul>
				</div>
				<div class="edu">
					<strong>Meldrum Academy</strong> <span class="subheading">Secondary School</span>
					<p>Started: August 2005 &dash; Finished: May 2011</p>
					<p>Courses</p>
					<ul class="fa-ul">
						<li><i class="fa fa-li fa-book"></i> Advanced Higher Computing <span class="label label-success pull-right">B</span></li>
						<li><i class="fa fa-li fa-book"></i> Advanced Higher Physics <span class="label label-success pull-right">C</span></li>
						<li><i class="fa fa-li fa-book"></i> Advanced Higher Maths <span class="label label-warning pull-right">Modules Only</span></li>
						<li><i class="fa fa-li fa-book"></i> Higher Maths <span class="label label-success pull-right">A</span></li>
						<li><i class="fa fa-li fa-book"></i> Higher Music <span class="label label-success pull-right">B</span></li>
						<li><i class="fa fa-li fa-book"></i> Higher Business Management <span class="label label-success pull-right">C</span></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<h3 class="text-info">Volunteer Work</h3>
				{{ volunteering }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h3 class="text-info">Projects &amp; Interests</h3>
				<div>
					<strong>IndieWeb</strong>
					<p>Through the TARDIS project I have been introduced to the <a href="https://indiewebcamp.com/">IndieWebCamp</a> movement. With this community, I have been learning about owning your own data and the value in doing so.</p>

                    <p>I have also had a chance to take this in to practice and have since implemented a number of indieweb (and linked data) principles on my own website.</p>

                    <p>I was also a co-organiser of <a href="https://indiewebcamp.com/2015/Edinburgh">IndieWebCamp Edinburgh 2015</a>, a two day barcamp style conference focused around the IndieWeb movement, and it's weekly offshoot, the Edinburgh meetings of the Homebrew Website Club.</p>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<h3 class="text-info">Hobbies</h3>
				<i>Outside of work and uni, here are a few things I get up to</i>
				<p><i class="fa fa-heart"></i> Trampolining</p>
				<p><span style="margin-left: 2em;">Qualified British Gymnastics Trampoline Club Judge</span></p>
				<p><i class="fa fa-heart"></i> Classical Guitar</p>
				<p><span style="margin-left: 2em;">Trinity Guildhall Grade 5</span></p>
				<p><i class="fa fa-heart"></i> Kayaking</p>
				<p><i class="fa fa-heart"></i> Surfing</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-4">
				<h4 class="text-info">Address</h4>
				<p>4/2 Easter Dalry Drive</p>
				<p>Edinburgh</p>
				<p>EH11 2TD</p>
			</div>
			<div class="col-xs-4" style="text-align: center;">
				<h4 class="text-info">Contact Me</h4>
				<p><i class="fa fa-phone"></i> 07415 722 341</p>
				<p><a href="mailto:harry@harryreeder.co.uk"><i class="fa fa-envelope-o"></i> harry@harryreeder.co.uk</a></p>
			</div>
			<div class="col-xs-4" style="text-align: right;">
				<h4 class="text-info">Find Me Elsewhere</h4>
				<p><a href="http://harryreeder.co.uk"><i class="fa fa-globe"></i> harryreeder.co.uk</a></p>
				<p><a href="https://github.com/hreeder"><i class="fa fa-github"></i> github.com/hreeder</a></p>
			</div>
		</div>
		</div>
	</div>
</body>
</html>
